.primary-btn {
    font-family: 'PT Mono', monospace;
    font-size: .9rem;
    letter-spacing: 1px;
    color: #64ffda;
    border: 1px solid #64ffda;
    padding: 0.75rem 1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 0.38rem;
    background: transparent;
    width: 100%;
}
.primary-btn:hover {
    background: #19273f;
}

@media (max-width: 767px) {
    .primary-btn {
        margin: 1.7rem 0;
    }
}